/* تعریف پالت رنگی */
:root {
  --primary-color: #06224a;
  --secondary-color: #dcdcdc;
  --accent-color: #c1436d;
  --background-color: #ffffff;
  --text-color: #0f0c24;
}
/* تنظیمات کلی برای تمام المان‌ها */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Vazirmatn, sans-serif;
}
/* استایل بدنه صفحه */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
}
/* استایل سربرگ */
header {
  background-color: var(--primary-color);
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
/* استایل محتوا اصلی */
main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* استایل عنوان اصلی */
h1 {
  font-size: 2rem;
  color: var(--background-color);
}
/* استایل عناصر برجسته */
strong {
  font-weight: bold;
  color: var(--accent-color);
  font-size: 1.2rem;
}
/* استایل متن‌های ویژه */
span {
  color: var(--accent-color);
  font-size: 1.1rem;
}
/* استایل متن‌های کوچک */
small {
  font-size: 1rem;
  color: #0056b3;
}
/* استایل سوالات */
.question {
  background-color: var(--secondary-color);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
/* افزودن انیمیشن به سوالات هنگام هاور */
.question:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
/* استایل عنوان سوالات */
.question h2 {
  font-size: 1.3rem;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--background-color);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: relative;
  cursor: pointer;
}
/* استایل پاسخ‌ها */
.answer {
  display: none;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  transition: box-shadow 0.3s ease;
}
.answer p {
  text-align: justify;
  line-height: 2;
}
/* نمایش جواب‌ها هنگام کلیک */
.answer.show {
  display: block;
}
/* افزودن انیمیشن به جواب‌ها هنگام هاور */
.answer:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
/* استایل آیکون تاگل */
.toggle-icon {
  cursor: pointer;
  transition: transform 0.6s ease;
  font-size: 1.5rem;
  position: absolute;
  left: 10px;
  bottom: 25%;
}
/* چرخش آیکون */
.toggle-icon.rotate {
  transform: rotate(180deg);
}
/* استایل کد */
.answer code {
  display: block;
  font-family: Consolas, monospace;
  font-size: 0.8rem;
  background-color: #f0f0f0;
  color: #333;
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: left;
  direction: ltr;
  line-height: 3;
}
/* استایل صفحه‌بندی */
.pagination {
  text-align: center;
  margin-top: 20px;
}
/* استایل دکمه‌های صفحه‌بندی */
.pagination button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1.1rem;
  margin: 5px;
}
/* افزودن انیمیشن به دکمه‌های صفحه‌بندی هنگام هاور */
.pagination button:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.page-btn.active {
  background-color: var(--accent-color);
  color: var(--background-color);
}
/* استایل فرم جستجو */
#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* استایل ورودی جستجو */
#search-input {
  width: 300px;
  padding: 8px;
  margin-left: 10px;
  border: 2px solid #0056b3;
  border-radius: 5px;
  font-size: 1.1rem;
  outline: none;
}
#search-input::placeholder {
  color: var(--primary-color);
}
/* استایل دکمه جستجو */
#search-btn {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
/* افزودن انیمیشن به دکمه جستجو هنگام هاور */
#search-btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
/* استایل آیکون جستجو */
#search-btn i {
  font-size: 1.1rem;
}
/* استایل پیام هشدار */
#alert-text {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  background-color: #ffdd57;
  color: #333;
}
/* استایل فوتر */
footer {
  background-color: #06224a;
  color: #ffffff;
  padding: 20px;
}
/* استایل متن فوتر */
footer p {
  line-height: 1.8;
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
}
/* استایل پیوندها در فوتر */
footer a {
  color: #ffdd57;
}
/* استایل Responsive */
@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }
  main {
    padding: 10px;
  }
  .question h2 {
    font-size: 1rem;
  }
  p,
  strong,
  span,
  small {
    font-size: 0.9rem;
  }
  .answer code {
    font-size: 0.7rem;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
  .question h2,
  .pagination button,
  #alert-text,
  #search-input,
  #search-btn i {
    font-size: 0.8rem;
  }
  p,
  strong,
  span,
  small {
    font-size: 0.7rem;
  }
  .answer {
    padding: 10px;
  }
  .answer code {
    padding: 8px;
  }
  .toggle-icon {
    left: 5px;
    font-size: 1.1rem;
  }
  .question h2 {
    padding: 10px 5px;
  }
}
